<section class="header">
    <div class="home">
        <img src="../../../assets/home.png" width="40vh" height="40vh" alt="">
        <p class="scritta-home" routerLink="/home">Home</p>

    </div>

    <div class="welcome">
        Personalizza il tuo prodotto
    </div>

    <div class="cart">

        <i class="fas fa-shopping-cart" routerLink="/cart"></i>
        <p class="scritta-carrello" routerLink="/cart">Carrello()</p>


    </div>
</section>


<div class="container-personalizza" id="4">
    <div class="img-prodotto-4 ">
        <img src="../../../assets/logitech.jpg ">
    </div>

    <div class=" prodotto-3 ">
        <h5>Prodotto</h5>

        <ul>
            <li class="first-li elenco "><a href=" ">Smartphone</a></li>
            <li class="elenco "><a href=" ">Tablet</a></li>
            <li class="elenco "><a href=" ">PC</a></li>
            <li class="elenco over "><a href=" ">Cuffie</a></li>
        </ul>

        <h5>Colore articolo</h5>
        <span class="cerchio1 "></span>
        <span class="cerchio2 "></span>
        <span class="cerchio3 "></span>
        <span class="cerchio4 "></span>
        <span class="cerchio5 "></span>
        <span class="cerchio6 "></span>
        <h5>Testo personalizzato</h5>
        <form>
            <input type="text " name="testo " placeholder="Inserisci testo ">
        </form>
        <h5>Colore testo</h5>
        <span class="cerchio1-text "></span>
        <span class="cerchio2-text "></span>
    </div>
    <div class="btn ">

        <button class="btn-ripristina ">RIPRISTINA</button>
        <button class="btn-aggiungi ">AGGIUNGI AL CARRELLO</button>
    </div>

</div>